.sidebar {
  background-color: #fff;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
  height: 100%;
  overflow: auto;
  padding: 2rem 1rem;
  position: fixed;
  right: -100%;
  top: 0;
  transition: 0.3s;
  z-index: 1000;
  width: 400px;

  &.active {
    right: 0;
  }
}

.header {
  display: grid;
  gap: 1rem;
  margin-bottom: 2rem;

  .title {
    display: flex;
    justify-content: space-between;

    button {
      background-color: transparent;
      border: 0;
      font-size: 1.5rem;
    }
  }
}

.active_thumbnail {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  height: 300px;
  margin-bottom: 1rem;

  img {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.body {
  display: grid;
  gap: 1rem;
}

.thumbnails {
  display: grid;
  height: 80px;
  gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);

  & > button {
    background-color: transparent;
    border: 2px solid silver;
    border-radius: 5px;
    overflow: hidden;
    padding: 0;
    position: relative;
    height: 100%;

    .active {
      border: 2px solid tomato;
    }

    img {
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.quantity {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 40px;
  margin-block: 1rem;

  button {
    font-size: 1.7rem;
  }

  span {
    align-self: center;
    justify-self: center;
  }
}

#buynow {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem;
  display: block;
  width: 100%;
}

.measure {
  font-size: 0.9rem;
}
